@font-face {
    font-family: 'MesloLGS NF';
    src: url('../fonts/meslolgs_nf_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html {
    background: black;
}
#terminal {
    height: 100%;
    margin-bottom: 0;
}
